<!-- footer section  -->

<section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>about us</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quas
          magni pariatur est accusantium voluptas enim nemo facilis sit debitis.
        </p>
      </div>
      <div class="box">
        <h3>bus stops</h3>
        <a href="https://en.wikipedia.org/wiki/Kathmandu" target="_blank"
          >kathmandu</a
        >
        <a href="https://en.wikipedia.org/wiki/Pokhara" target="_blank"
          >pokhara</a
        >
        <a href="https://en.wikipedia.org/wiki/bhairahawa" target="_blank"
          >bhairahawa</a
        >
        <a href="https://en.wikipedia.org/wiki/lamjung" target="_blank"
          >lamjung</a
        >
      </div>
      <div class="box">
        <h3>quick links</h3>
        <a href="#home">home</a>
        <a href="login.php" target="_blank">users</a>
        <a href="#services">services</a>
        <a href="#contact">contact</a>
      </div>
      <div class="box">
        <h3>follow us</h3>
        <a href="https://www.facebook.com/" target="_blank">facebook</a>
        <a href="https://www.instagram.com/" target="_blank">instagram</a>
        <a href="https://www.twitter.com/" target="_blank">twitter</a>
        <a href="https://www.linkedin.com/" target="_blank">linkedin</a>
      </div>
    </div>
  
    <h1 class="credit">
      created by <span>the SAP Team </span> | all rights reserved!
    </h1>
  </section>
  