<!-- services section starts  -->

<section class="services" id="services">
    <h1 class="heading">
      <span>OUR</span>
      <span>SERVICES</span>
    </h1>
  
    <div class="box-container">
      <div class="box">
        <i class="fas fa-newspaper"></i>
        <h3>news paper</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
          commodi earum, quis voluptate exercitationem ut minima itaque iusto
          ipsum corrupti!
        </p>
      </div>
      <div class="box">
        <i class="fas fa-utensils"></i>
        <h3>food and drinks</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
          commodi earum, quis voluptate exercitationem ut minima itaque iusto
          ipsum corrupti!
        </p>
      </div>
  
      <div class="box">
        <i class="fas fa-film"></i>
        <h3>film</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
          commodi earum, quis voluptate exercitationem ut minima itaque iusto
          ipsum corrupti!
        </p>
      </div>
      <div class="box">
        <i class="fas fa-bus"></i>
        <h3>fastest travel</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
          commodi earum, quis voluptate exercitationem ut minima itaque iusto
          ipsum corrupti!
        </p>
      </div>
    </div>
  </section>
  
  <!-- services section ends -->
  