<div class="register-bus">
    <form  style="max-width:500px;margin:auto" method="POST" >

                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Name" name="name" id="name" required  />
                </div>

                <div class="input-container">
                    <input  class="input-field" type="text" placeholder="Bus No" name="busNo" id="busNo">
                </div>
                <div class="input-container">
                    <input class="input-field" type="number" placeholder="Capacity" name="capacity" id="capacity">
                </div>
                <div class="input-container">
                    <textarea  class="input-field" type="text" placeholder="Description" name="description" id="description"></textarea>
                </div>

                <button type="submit" class="btn register-bus-btn" id="register-bus-btn">Register </button>
     </form>
</div>
